@model IEnumerable<MioMizutani_Lab3.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subscription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @(item.Subscription != null ? item.Subscription.SubscriptionId.ToString() : "")
        </td>
        <td>
            @item.Amount
        </td>
        <td>
            @item.Status
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.InvoiceId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.InvoiceId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.InvoiceId">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>

<a asp-controller="Home" asp-action="Index">Back to Menu</a>